/* normal */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: black;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #7f00ff, #e100ff);
    animation: AnimationName 5s ease infinite;
    overflow: hidden;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.content>* {
    opacity: 0;
    animation: 1s ease-in-out forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.content>*:nth-child(1) {
    animation-name: fadeIn;
    animation-delay: 0s;
}


.content>*:nth-child(2) {
    animation-name: slideUp;
    animation-delay: 0.5s;
}


.content>*:nth-child(3) {
    animation-name: slideDown;
    animation-delay: 1s;
}


.content>*:nth-child(4) {
    animation-name: slideLeft;
    animation-delay: 1.5s;
}


.content>*:nth-child(5) {
    animation-name: slideRight;
    animation-delay: 2s;
}

/* main for body */
h1 {
    text-align: center;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: 250px;
    font-size: 80px;
}

.circle {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 20px;
    transition: all 0.3s ease-in-out;

}

.circle:hover {
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 90px;
    height: 90px;
}

#circle1 {
    background-image: url(https://cdn.discordapp.com/attachments/661472973815021568/1070609626531368970/logo-ig-png-32464.png);
}

#circle2 {
    background-image: url(https://cdn.discordapp.com/attachments/661472973815021568/1070609254697943050/discord-logo-png-7622.png);
}

#circle3 {
    background-image: url(https://cdn.discordapp.com/attachments/661472973815021568/1070609921835536454/youtube-logo-png-2069.png);
}